
.header{
    border-bottom: 1px solid #2D3943;
    .headerWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 66px;
        height: 8cqh;

    }
    
    
}
